
body {
	background: linear-gradient(#16b8ff, #cff8ff);
	color: darkblue;
	font-size: large;
	font-family: 'Open Sans', sans-serif;
	border: 10px;
	margin: 10px;
	padding: 10px;
	width: 1110px;
}

.name {
	text-align: center;
}

.photo-and-text {
	text-align: center;
	display: flex;
}

.video {
	text-align: center;
}

footer {
	color: #3645ff;
	font-size: medium;
}
