head {
	background: #16b8ff;
	margin: 0;
	border: 100px;
	padding: 100px;
	font-size: larger;
}

header {
	background: linear-gradient(#16b8ff, #cff8ff);
	color: #0004ff;
	font-size: larger;
}

body {
	background: #cff8ff;
	color: darkblue;
	font-size: large;
	border: 100px;
	margin: 0;
	width: 100%;
}

footer {
	background: #bcecff;
	color: #3645ff;
	font-size: medium;
}
